@model SIIR.Models.ViewModels.RepresentativeVM
@{
    ViewData["Title"] = "Crear Grupo Representativo";
}

<br />
<br />
<h2 class="text-center mb-3">Crear un nuevo grupo representativo</h2>
<form method="POST" asp-action="Create">
    <div class="row p-2 border mx-3 rounded-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-12 mt-4">
            <div class="form-group row">
                <div class="col-md-4 col-sm-12">
                    <label asp-for="Representative.Name"></label>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-users"></i>
                        </span>
                        <input asp-for="Representative.Name" class="form-control" placeholder="Ingresa el nombre del grupo representativo" />
                    </div>
                    <span asp-validation-for="Representative.Name" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-md-4 col-sm-12">
                    <label asp-for="Representative.Category"></label>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-layer-group"></i>
                        </span>
                        <select asp-for="Representative.Category" class="form-select">
                            <option value="">Seleccione una opción</option>
                            <option value="Deportivo">Deportivo</option>
                            <option value="Cultural">Cultural</option>
                        </select>
                    </div>
                    <span asp-validation-for="Representative.Category" class="text-danger"></span>
                </div>
            </div>

            <br />

            <!-- Bloque dinámico de uniformes -->
            <div id="uniformsContainer">
            </div>

            <!-- Botón para agregar un nuevo bloque de uniformes -->
            <div class="form-group row mt-2">
                <div class="col-12 text-end">
                    <button type="button" id="addUniformBtn" class="btn btn-success">
                        <i class="fas fa-plus"></i> Añadir Uniforme
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>

            <br />
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            var uniformIndex = $('#uniformsContainer .uniform-item').length || 0;

            function updateUniformOptions() {
                var selectedValues = [];
                $('#uniformsContainer select').each(function () {
                    var selectedValue = $(this).val();
                    if (selectedValue) {
                        selectedValues.push(selectedValue);
                    }
                });

                $('#uniformsContainer select').each(function () {
                    var currentSelect = $(this);
                    currentSelect.find('option').each(function () {
                        var optionValue = $(this).val();
                        if (selectedValues.includes(optionValue) && currentSelect.val() !== optionValue) {
                            $(this).attr('disabled', 'disabled');
                        } else {
                            $(this).removeAttr('disabled');
                        }
                    });
                });
            }

            $('#addUniformBtn').click(function () {
                var newUniform = `
                            <div class="form-group row mt-2 uniform-item">
                                <div class="col-md-4 col-sm-12">
                                    <label for="UniformCatalog">Uniforme</label>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fas fa-tshirt"></i>
                                        </span>
                                        <select name="SelectedUniformCatalogIds[` + uniformIndex + `]" class="form-select" required data-msg-required="Por favor selecciona un uniforme.">
                                            <option value="">Selecciona una prenda:</option>
        @foreach (var item in Model.UniformCatalogList)
        {
                                                    <option value="@item.Value">@item.Text</option>
        }
                                        </select>
                                    </div>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="SelectedUniformCatalogIds[` + uniformIndex + `]" data-valmsg-replace="true"></span>
                                </div>
                                <div class="col-12 mt-2 text-end">
                                    <button type="button" class="btn btn-danger remove-uniform-btn">
                                        <i class="fas fa-trash-alt"></i> Eliminar
                                    </button>
                                </div>
                            </div>
                        `;
                $('#uniformsContainer').append(newUniform);
                uniformIndex++;
                reindexUniforms();
                updateUniformOptions();

                var form = $("#representative-form");
                $.validator.unobtrusive.parse(form);
            });

            $('#uniformsContainer').on('click', '.remove-uniform-btn', function () {
                $(this).closest('.uniform-item').remove();
                reindexUniforms();
                updateUniformOptions();
            });

            $('#uniformsContainer').on('change', 'select', function () {
                updateUniformOptions();
            });

            function reindexUniforms() {
                $('#uniformsContainer .uniform-item').each(function (index) {
                    var select = $(this).find('select');
                    var span = $(this).find('span.text-danger');

                    select.attr('name', 'SelectedUniformCatalogIds[' + index + ']');
                    span.attr('data-valmsg-for', 'SelectedUniformCatalogIds[' + index + ']');
                });
            }
        });
    </script>
}