.form-switch .form-check-input {
    width: 3em;
    height: 1.5em;
    margin-right: 0.5em;
    cursor: pointer;
}

.form-switch .form-check-label {
    cursor: pointer;
    padding-top: 0.25em;
}

.card-img-container {
    position: relative;
    padding-top: 100%; /* Ratio 1:1 */
    overflow: hidden;
}

    .card-img-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.card-actions {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    padding: 0.5rem;
}
