@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutWithoutNavBar";
}

<style>
    .welcome-text {
        margin-top: -50px;
    }

    .search-bar {
        display: flex;
        align-items: center; 
        width: 100%;
        max-width: 400px;  
        margin-top: 20px;  
    }

    .search-input {
        border: none;
        border-bottom: 2px solid #000;
        outline: none;
        font-size: 18px; /*Modificar*/
        background-color: transparent;
    }

    .search-input::placeholder {
        color: #888; 
    }

    .title {
        background-color: #1a3c6e;
    }

    .card-img-top {
        max-height: 125px;
        object-fit: cover; /* Esto asegura que la imagen se recorte manteniendo su proporción */
        object-position: top; /* Centra la imagen dentro del contenedor */
        width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
    }


</style>

<div class="container mt-5 text-center">
    <h1 class="display-2 welcome-text">Bienvenido Alan</h1>

    <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass me-2"></i>
        <input type="text" class="search-input" placeholder="Buscar...">
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 p-4">
        @for (int i = 0; i < 3; i++)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="https://vivabasquet.com/wp-content/uploads/2018/09/FOTOUSAWOMENS.jpg" class="card-img-top h-100"
                    alt="Hollywood Sign on The Hill" />
                    <p class="text-center fs-6 py-2 mb-0 text-white title">BASQUETBOL FEMENIL</p>
                    <div class="card-body">
                        <div class="d-flex gap-2">
                            <span class="badge rounded-pill bg-success">Deportivo</span>
                            <span class="badge rounded-pill bg-danger">Femenil</span>
                        </div>
                        <div class="d-flex justify-content-end fs-5">
                            <i class="fa-solid fa-eye me-3" style="color: #1a3c6e"></i>
                            <i class="fa-solid fa-file-arrow-down" style="color: #2e8b57"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="https://jgbasket.net/wp-content/uploads/2015/11/Bulls-95-96-600x340.jpg" class="card-img-top h-100"
                         alt="Hollywood Sign on The Hill" />
                    <p class="text-center fs-6 py-2 mb-0 text-white title">BASQUETBOL VARONIL</p>
                    <div class="card-body">
                        <div class="d-flex gap-2">
                            <span class="badge rounded-pill bg-success">Deportivo</span>
                            <span class="badge rounded-pill bg-primary">Varonil</span>
                        </div>
                        <div class="d-flex justify-content-end fs-5">
                            <i class="fa-solid fa-eye me-3" style="color: #1a3c6e"></i>
                            <i class="fa-solid fa-file-arrow-down" style="color: #2e8b57"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="https://cdn.clarosports.com/clarosports/2024/05/cruz-azul-112214-1024x576.jpg" class="card-img-top h-100"
                         alt="Hollywood Sign on The Hill" />
                    <p class="text-center fs-6 py-2 mb-0 text-white title">FUTBOL VARONIL</p>
                    <div class="card-body">
                        <div class="d-flex gap-2">
                            <span class="badge rounded-pill bg-warning">Cultural</span>
                            <span class="badge rounded-pill bg-primary">Varonil</span>
                        </div>
                        <div class="d-flex justify-content-end fs-5">
                            <i class="fa-solid fa-eye me-3" style="color: #1a3c6e"></i>
                            <i class="fa-solid fa-file-arrow-down" style="color: #2e8b57"></i>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>