@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "_LayoutWithoutNavBar";
}

<!--ESTILO REPETIDO EN TODO LO DE FORGOT PASSWORD-->
<style>
    .login-container {
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
</style>

<h2 class="text-center mb-4 mt-3 display-3">Restablecer Contraseña</h2>
<div class="text-center align-self-center" style="margin-bottom: 5%;">
   <h3>Revisa tu Correo Electrónico</h3>
    <p style="font-size: 1.20rem; margin-bottom: 2%;">
        Te hemos enviado un Correo Electrónico para poder restablecer tu Contraseña
    </p>
    <!--La ventana original no se puede cerrar, si no se detiene la ejecucion del mismo-->
    <p style="font-size: 1.20rem; margin-bottom: 2%;">
        Al terminar puedes cerrar esta ventana
    </p>
</div>
