@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Restablecer Contraseña";
    Layout = "_LayoutWithoutNavBar";
}

<!--ESTILO REPETIDO EN TODO LO DE RESET PASSWORD-->
<style>
    .login-container {
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
</style>

<h2 class="text-center mb-4 mt-3 display-3">Restablecer Contraseña</h2>
<hr />
<div class="row">
    <div class="col-md-6 align-self-center">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label">Correo</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Por favor ingresa tu contraseña" />
                <label asp-for="Input.Password" class="form-label">Contraseña</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Por favor confirma tu contraseña" />
                <label asp-for="Input.ConfirmPassword" class="form-label">Confirma tu Contraseña</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Restablecer Contraseña</button>
        </form>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-center">
        <img src="~/images/fox-forgetPass.png" alt="Imagen de la recuperación de contraseña" class="img-fluid" width="70%" height="70%" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
