@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación Restablecimiento de Contraseña";
    Layout = "_LayoutWithoutNavBar";
}

<!--ESTILO REPETIDO EN TODO LO DE RESET PASSWORD-->
<style>
    .login-container {
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
</style>

<h2 class="text-center mb-4 mt-3 display-3">Cambio de Contraseña Exitoso</h2>
<div class="text-center align-self-center" style="margin-bottom: 5%;">
    <p style="font-size: 1.20rem; margin-bottom: 2%;">
        Tu contraseña ha sido cambiada. Da <a asp-page="./Login">click aqui para Iniciar Sesión</a>.
    </p>
</div>

<p>
    
</p>
