@model SIIR.Models.UniformCatalog
@{
    ViewData["Title"] = "Editar uniforme";
}

<br />
<br />
<h3 class="text-center">Editar uniforme</h3>
<form method="POST" asp-action="Edit" enctype="multipart/form-data">

    <input type="hidden" asp-for="Id" />

    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-8 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" placeholder="Ingresa el nombre del uniforme" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Description"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Description" class="form-control" placeholder="Ingresa la descripción" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary form-control">Editar</button>
                </div>
                &nbsp;
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Volver atrás</a>
                </div>
            </div>
            <br />
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
