@{
    ViewData["Title"] = "Home Page";
}

<main class="container text-center mt-5">
    <h2 class="display-4">SIIR</h2>
    <p class="lead">Sistema Integral de Información de Grupos Representativos</p>

    <div class="my-4">

        <img src="/images/fox.png" alt="Fox Mascot" class="img-fluid" style="width: 400px;">

        <img src="/images/fox.png" alt="Fox Mascot" class="img-fluid" style="width: 400px;">
    </div>

    <div class="row mt-5">
        <div class="col-md-6 mb-4">
            <button class="btn btn-primary btn-lg w-50">Grupos Deportivos</button>
        </div>

        <div class="col-md-6 mb-4">
            <button class="btn btn-primary btn-lg w-50">Grupos Culturales</button>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />

