@{
    ViewData["Title"] = "Dashboard Admin";
}

<main class="container text-center mt-5">
    <h2 class="display-4">SIIR</h2>
    <p class="lead">Sistema Integral de Información de Grupos Representativos</p>

    <div class="my-4">
        <img id="fox-image" src="/images/fox-americano.png" alt="Fox Mascot" class="img-fluid" style="width: 400px;">
    </div>

    <div class="row mt-5">
        <div class="col-md-6 mb-4">
            <!-- Agregar funcionalidad para aplicar filtros Deportivos o Culturales -->
            <button class="btn btn-primary btn-lg w-50">
                <a asp-area="Admin" asp-page="/Teams/Index" class="btn btn-primary">
                    Grupos Deportivos
                </a>
            </button>
            <!--<button class="btn btn-primary btn-lg w-50">Grupos Deportivos</button>-->
        </div>

        <div class="col-md-6 mb-4">
            <button class="btn btn-primary btn-lg w-50">
                <a asp-area="Admin" asp-page="/Teams/Index" class="btn btn-primary">
                    Grupos Culturales
                </a>
            </button>
            <!--<button class="btn btn-primary btn-lg w-50">Grupos Culturales</button>-->
        </div>
    </div>
</main>

@section Scripts {
    <script>
        // Array de las rutas de las imágenes
        const images = [
            "/images/fox-basquet3.png",
            "/images/fox-voleibol.png",
            "/images/fox-futbol.png",
            "/images/fox-americano.png"
        ];

        let currentIndex = 0;
        const imageElement = document.getElementById("fox-image");

        // Cambiar imagen cada 3 segundos (3000 milisegundos)
        setInterval(() => {
            currentIndex = (currentIndex + 1) % images.length; // Ciclar entre las imágenes
            imageElement.src = images[currentIndex]; // Cambiar el src de la imagen
        }, 3000);
    </script>
}
